<header class="bg-gradient-to-r from-purple-dark to-purple-semi-clean">
  <div class="flex justify-between p-6">
    <div class="logo">
      Logo
    </div>
    <nav>
      <ul class="flex gap-3 font-raleway font-medium text-lg">
        <li><a class="" routerLink="/">dashboard</a></li>
        <li><a class="" routerLink="/projects">projects</a></li>
        <li><a class="" routerLink="/about">about</a></li>
        <li><a class="" routerLink="/contact">contact</a></li>
        <li><a class="" routerLink="#">LinkeDin</a></li>
        <li><a class="" routerLink="#">GitHub</a></li>
      </ul>
    </nav>
  </div>
</header>