<header [ngClass]="{ 'headerIsInactive': isActive, 'headerIsActive': !isActive }">
  <div class="flex justify-around p-6">
    <div class="logo">
      Logo
    </div>
    <nav>
      <ul class="flex gap-3 font-raleway font-light text-lg">
        <li><a class="" href="#dashboard">dashboard</a></li>
        <li><a class="" href="#projects">projects</a></li>
        <li><a class="" href="#skills">skills</a></li>
        <li><a class="">about</a></li>
        <li><a class="">contact</a></li>
      </ul>
    </nav>
    <div class="flex gap-5">
      <button class="w-7 rounded-4xl"><a target="_blank" href="https://github.com/Brin29"><img class="m-auto" src="github.svg" alt=""></a></button>

      <button class="w-7 rounded-4xl"><a target="_blank" href="https://www.linkedin.com/in/breiner-stiven-parra-cort%C3%A9s-5b0518273/"><img class="m-auto" src="linkedin.svg" alt=""></a></button>
    </div>
  </div>
</header>