.headerIsActive {
  background-color:#59517a;
  color:#fff;
  position:fixed;
  width:100%;
  transition: ease-in .4s;
}

.headerIsInactive{
  background-color:transparent;
  color: #fff;
  transition: ease-in .4s;
}

