<header [ngClass]="{ 'headerIsInactive': isActive, 'headerIsActive': !isActive}">
  <div class="flex justify-between p-6">
    <div class="logo">
      Logo
    </div>
    <nav>
      <ul class="flex gap-3 font-raleway font-medium text-lg">
        <li><a class="" href="#dashboard">dashboard</a></li>
        <li><a class="" href="#projects">projects</a></li>
        <li><a class="">about</a></li>
        <li><a class="">contact</a></li>
      </ul>
    </nav>
    <div>
      <ul class="flex gap-3 font-raleway font-medium text-lg">
        <li><a class="">LinkeDin</a></li>
        <li><a class="">GitHub</a></li>
      </ul>
    </div>
  </div>
</header>