.headerIsActive {
  backdrop-filter: blur(50px);
  box-shadow:0 1px 10px 1px rgba(0, 0, 0, 0.274);;
  color:#fff;
  position:fixed;
  width:100%;
  transition: ease-in .2s;
  z-index: 10;
}

.headerIsInactive{
  background-color:transparent;
  color: #fff;
  transition: ease-in .2s;
  z-index:10;
}

