<footer class="flex justify-center pb-5 w-full">

  <div class="flex flex-col self-center justify-center">
    <div class="flex gap-4 justify-center">
      <button class="w-7 rounded-4xl"><a target="_blank" href="mailto:breinerstevendev@gmail.com"><img class="m-auto" src="gmail.svg" alt=""></a></button>

      <button class="w-7 rounded-4xl"><a target="_blank" href="https://github.com/Brin29"><img class="m-auto" src="github.svg" alt=""></a></button>
      
      <button class="w-7 rounded-4xl"><a target="_blank" href="https://www.linkedin.com/in/breiner-stiven-parra-cort%C3%A9s-5b0518273/"><img class="m-auto" src="linkedin.svg" alt=""></a></button>
    </div>
    <span class="text-white pt-5">© 2025 <a href="https://github.com/Brin29" class="hover:underline" target="_blank">Brin29™</a>. All Rights Reserved.
  </span>
  </div>
</footer>
