<section id="experience" class="pt-28 flex justify-center w-full">
  <div class="w-4/5 text-white">
    <h2 class="text-white font-normal text-4xl text-center">Experience</h2>
    <div class="mt-10 flex bg-gradient-to-r from-purple-dark to-purple-semi-dark p-10 gap-10 rounded-2xl">
      <div class="flex flex-col w-1/2 border-r-2">
        <span>2024 (7 months)</span>
        <span>FullStack Developer</span>
        <span>Freelancer</span>
      </div>
      <div class="flex flex-col gap-5 w-7/8">
        <div class="flex flex-col gap-4 ">
          <h4>Overview</h4>
          <p>I was responsible for the back-end development and front-end review for an e-commerce. In addition, I was in charge of communicating directly with the client to define the requirements and the functioning of the web application.</p>
        </div>

        <div class="flex flex-col gap-4">
          <h4>Learning</h4>
          <ul class="flex flex-col gap-4">
            <li>
              During this project, I deepened my knowledge of authentication and authorization with JWT, including token handling in cookies and role implementation.
            </li>
            <li>
              I learned how to integrate OAuth2 to enable login with Google and Facebook. 
            </li>
            <li>
              I worked with the Mercado Pago payment gateway, configuring authentication credentials and managing payments through webhooks.
            </li>
            <li>
              I implemented image storage in Amazon S3, optimizing file management in the cloud.
            </li>
          </ul>
        </div>
        <div>
          <h4>Tecnologies</h4>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
