<section id="projects" class="pt-28 flex justify-center w-full px-4">
  <div class="w-full max-w-6xl">
    <h2 class="text-purple-semi-clean font-normal text-4xl text-center">Projects</h2>

    @for (project of projects; track project.id){
      <div class="flex flex-col lg:flex-row w-full gap-8 rounded-4xl mt-8 py-8 bg-gray-800 p-6">
        
        <!-- Contenedor Izquierdo -->
        <div class="w-full lg:w-2/3 flex flex-col gap-6">
          <h3 class="text-purple-very-clean font-medium text-2xl text-center lg:text-left">{{project.name}}</h3>
          <img class="rounded-4xl w-full max-h-80 object-cover" src={{project.image}} alt="">
        </div>
        
        <!-- Contenedor Derecho -->
        <div class="w-full lg:w-5/6 flex flex-col justify-between">
          <p class="text-white text-center lg:text-left">{{project.description}}</p>
          
          <div class="w-full flex flex-col md:flex-row justify-center items-center gap-6 mt-6">
            
            <!-- Front-End -->
            <div class="rounded-4xl p-6 flex flex-col justify-center items-center w-full md:w-1/2 bg-gradient-to-r from-purple-dark to-purple-semi-dark">
              <h3 class="text-white text-xl">Front-End</h3>
              <ul class="flex flex-wrap justify-center gap-3 mt-3">
                @for (language of project.frontEnd; track language.id){
                  <li>
                    <img class="w-10 h-10 transition transform hover:-translate-y-2 hover:scale-110" src={{language.image}} alt={{language.name}} title={{language.name}}/>
                  </li>
                }
              </ul>
              <a class="flex items-center gap-2 rounded-4xl text-white bg-black px-5 py-2 mt-3 hover:bg-gray-700 transition duration-300" href={{project.frontUrl}} target="_blank">Code <img class="w-6 h-6" src="github.svg" alt=""></a>
            </div>
            
            <!-- Back-End -->
            <div class="rounded-4xl p-6 flex flex-col justify-center items-center w-full md:w-1/2 bg-gradient-to-r from-purple-dark to-purple-semi-dark">
              <h3 class="text-white text-xl">Back-End</h3>
              <ul class="flex flex-wrap justify-center gap-3 mt-3">
                @for (language of project.backEnd; track language.id){
                  <li>
                    <img class="w-10 h-10 transition transform hover:-translate-y-2 hover:scale-110" src={{language.image}} alt={{language.name}} title={{language.name}}/>
                  </li>
                }
              </ul>
              <a class="flex items-center gap-2 rounded-4xl text-white bg-black px-5 py-2 mt-3 hover:bg-gray-700 transition duration-300" href={{project.backUrl}} target="_blank">Code <img class="w-6 h-6" src="github.svg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</section>
