<section class="mt-52  w-full h-screen" id="skills">
  <div class="flex justify-center flex-col content-center">
    <h2 class="text-white font-normal text-6xl self-center">Skills</h2>
    
    <div class="text-white text-center font-normal text-2xl flex w-5/6 gap-10 justify-between self-center mt-12">
      <div class="p-7 rounded-2xl w-full bg-gradient-to-r from-purple-dark to-purple-semi-dark h-5/6">
        <h3 class="">Front-End</h3>
        <div class="flex flex-row flex-wrap content-center justify-center gap-10 py-9 px-4">
          <img src="html.svg" alt="">
          <img src="css.svg" alt="">
          <img class="javascript" src="javascript.svg" alt="">
          <img src="react.svg" alt="">
          <img src="tailwind.svg" alt="">
          <img src="typescript.svg" alt="">
          <img src="angular.svg" alt="">
        </div>
      </div>
      <div class="p-7 rounded-2xl w-full bg-gradient-to-r from-purple-dark to-purple-semi-dark h-5/6">
        <h3>Back-End</h3>
        <div class="flex flex-row flex-wrap content-center justify-center gap-10 py-9 px-4">
          <img src="java.svg" alt="">
          <img src="springboot.svg" alt="">
          <img src="mysql.svg" alt="">
          <img src="mongo.svg" alt="">
        </div>
      </div>
      <div class="p-7 rounded-2xl w-full bg-gradient-to-r from-purple-dark to-purple-semi-dark h-5/6">
        <h3>Complements</h3>
        <div class="flex flex-row flex-wrap content-center justify-center gap-10 py-9 px-4">
          <img src="github.svg" alt="">
          <img src="git.svg" alt="">
          <img src="intellij.svg" alt="">
          <img src="vs-code.svg" alt="">
          <img src="npm.svg" alt="">
          <img src="vite.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>