<section class="pt-28 w-full min-h-screen px-4" id="skills">
  <div class="flex flex-col items-center">
    <h2 class="text-white font-normal text-4xl text-center">Skills</h2>

    <div class="text-white text-center font-normal text-2xl grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 w-full max-w-6xl mt-12">
      
      <!-- Front-End -->
      <div class="container-skills p-7 rounded-2xl bg-gradient-to-r from-purple-dark to-purple-semi-dark">
        <h3 class="text-xl mb-6">Front-End</h3>
        <div class="flex flex-wrap justify-center gap-8">
          <img class="icon-skill" src="html.svg" alt="html" title="HTML">
          <img class="icon-skill" src="css.svg" alt="css" title="CSS">
          <img class="icon-skill" src="javascript.svg" alt="javascript" title="JavaScript">
          <img class="icon-skill" src="tailwind.svg" alt="tailwind" title="Tailwind">
          <img class="icon-skill" src="typescript.svg" alt="typescript" title="TypeScript">
          <img class="icon-skill" src="angular.svg" alt="angular" title="Angular">
        </div>
      </div>

      <!-- Back-End -->
      <div class="container-skills p-7 rounded-2xl bg-gradient-to-r from-purple-dark to-purple-semi-dark">
        <h3 class="text-xl mb-6">Back-End</h3>
        <div class="flex flex-wrap justify-center gap-8">
          <img class="icon-skill" src="java.svg" alt="java" title="Java">
          <img class="icon-skill" src="springboot.svg" alt="springboot" title="SpringBoot">
          <img class="icon-skill" src="mysql.svg" alt="mysql" title="MySQL">
          <img class="icon-skill" src="mongo.svg" alt="mongo" title="MongoDB">
          <img class="icon-skill" src="redis.svg" alt="redis" title="Redis">
          <img class="icon-skill" src="jwt.svg" alt="jwt" title="JWT">
        </div>
      </div>

      <!-- Complements -->
      <div class="container-skills p-7 rounded-2xl bg-gradient-to-r from-purple-dark to-purple-semi-dark">
        <h3 class="text-xl mb-6">Complements</h3>
        <div class="flex flex-wrap justify-center gap-8">
          <img class="icon-skill" src="github.svg" alt="github" title="GitHub">
          <img class="icon-skill" src="git.svg" alt="git" title="Git">
          <img class="icon-skill" src="intellij.svg" alt="intellij" title="Intellij Idea">
          <img class="icon-skill" src="vs-code.svg" alt="vs-code" title="Visual Studio Code">
          <img class="icon-skill" src="postman.svg" alt="postman" title="Postman">
          <img class="icon-skill" src="docker.svg" alt="docker" title="Docker">
        </div>
      </div>

    </div>
  </div>
</section>
