<section class="mt-52  w-full h-screen" id="skills">
  <div class="flex justify-center flex-col content-center">
    <h2 class="text-white font-normal text-6xl self-center">Skills</h2>
    
    <div class="text-white text-center font-normal text-2xl flex w-5/6 gap-10 justify-between self-center mt-12">
      <div class="container-skills p-7 rounded-2xl w-full bg-gradient-to-r from-purple-dark to-purple-semi-dark h-5/6">
        <h3 class="">Front-End</h3>
        <div class="flex flex-row flex-wrap content-center justify-center gap-10 py-9 px-4">
          <img class="transition delay-150 hover:-translate-y-2 hover:scale-120 duration-300" src="html.svg" alt="">
          <img class="transition delay-150 hover:-translate-y-2 hover:scale-120 duration-300" src="css.svg" alt="">
          <img class="javascript transition delay-150 hover:-translate-y-2 hover:scale-120 duration-300" src="javascript.svg" alt="">
          <img class="transition delay-150 hover:-translate-y-2 hover:scale-120 duration-300" src="react.svg" alt="">
          <img class="transition delay-150 hover:-translate-y-2 hover:scale-120 duration-300" src="tailwind.svg" alt="">
          <img class="transition delay-150 hover:-translate-y-2 hover:scale-120 duration-300" src="typescript.svg" alt="">
          <img class="transition delay-150 hover:-translate-y-2 hover:scale-120 duration-300" src="angular.svg" alt="">
        </div>
      </div>
      <div class="container-skills p-7 rounded-2xl w-full bg-gradient-to-r from-purple-dark to-purple-semi-dark h-5/6">
        <h3>Back-End</h3>
        <div class="flex flex-row flex-wrap content-center justify-center gap-10 py-9 px-4">
          <img class="transition delay-150 hover:-translate-y-2 hover:scale-120 duration-300" src="java.svg" alt="">
          <img class="transition delay-150 hover:-translate-y-2 hover:scale-120 duration-300" src="springboot.svg" alt="">
          <img class="transition delay-150 hover:-translate-y-2 hover:scale-120 duration-300" src="mysql.svg" alt="">
          <img class="transition delay-150 hover:-translate-y-2 hover:scale-120 duration-300" src="mongo.svg" alt="">
        </div>
      </div>
      <div class="container-skills p-7 rounded-2xl w-full bg-gradient-to-r from-purple-dark to-purple-semi-dark h-5/6">
        <h3>Complements</h3>
        <div class="flex flex-row flex-wrap content-center justify-center gap-10 py-9 px-4">
          <img class="transition delay-150 hover:-translate-y-2 hover:scale-120 duration-300" src="github.svg" alt="">
          <img class="transition delay-150 hover:-translate-y-2 hover:scale-120 duration-300" src="git.svg" alt="">
          <img class="transition delay-150 hover:-translate-y-2 hover:scale-120 duration-300" src="intellij.svg" alt="">
          <img class="transition delay-150 hover:-translate-y-2 hover:scale-120 duration-300" src="vs-code.svg" alt="">
          <img class="transition delay-150 hover:-translate-y-2 hover:scale-120 duration-300" src="npm.svg" alt="">
          <img class="transition delay-150 hover:-translate-y-2 hover:scale-120 duration-300" src="vite.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>