<section class="flex justify-center pt-10 w-full" id="dashboard">
  <div class="w-4/5 h-auto flex flex-col-reverse lg:flex-row-reverse items-center justify-around gap-10">
    <div class=" flex justify-center">
      <img class="photo max-w-[280px] sm:max-w-[300px] md:max-w-[345px] lg:max-w-[390px] xl:max-w-[420px] max-h-[250px] sm:max-h-[280px] md:max-h-[325px] lg:max-h-[370px] xl:max-h-[400px]" src="photo.webp" alt="">
    </div>
    <div class="w-full lg:w-1/2 text-center lg:text-left">
      <h1 class="text-purple-dark text-purple-semi-clean text-3xl sm:text-4xl md:text-5xl font-light mb-6">
        Hi, I'm <span> Breiner </span>
        <p class="text-white font-normal">Full-Stack Developer <span class="hand animate-bounce">👋🏽</span></p> 
      </h1>
      
      <p class="text-white w-full mb-7 font-extralight">A passionate about technology and software development, with experience building web applications using Spring Boot and Angular. Skilled in developing REST APIs, integrating SQL databases, and implementing secure authentication and authorization with JWT and OAuth2.</p>
      
      <div class="flex w-full gap-3 justify-center lg:justify-start">
        <button class="bg-green px-10 font-extralight text-lg p-2 rounded-4xl ">Available for work</button>
      </div>
      
      <div class="text-white flex flex-col gap-2 mt-4">
          <span class="text-sm sm:text-base">breinerstivenparracortes50&#64;gmail.com</span>
        <div class="flex gap-4 justify-center lg:justify-start">
          <button class="w-7 rounded-4xl"><a target="_blank" href="mailto:breinerstivenparracortes50@gmail.com"><img class="m-auto" src="gmail.svg" alt=""></a></button>

          <button class="w-7 rounded-4xl"><a target="_blank" href="https://github.com/Brin29"><img class="m-auto" src="github.svg" alt=""></a></button>
          
          <button class="w-7 rounded-4xl"><a target="_blank" href="https://www.linkedin.com/in/breiner-stiven-parra-cort%C3%A9s-5b0518273/"><img class="m-auto" src="linkedin.svg" alt=""></a></button>
        </div>
      </div>
    </div>
  </div>
</section>
