<section class="flex justify-center w-full h-screen" id="dashboard">
  <div class="w-4/5 h-5/6 flex flex-row-reverse items-center justify-around">
    <div>
      <img src="https://images.rawpixel.com/image_png_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvMzk3LW1ja2luc2V5LTIxYTMwNzQtamlyLXJtNTExXzEtbDA5Y3ZjODQucG5n.png" alt="">
    </div>
    <div>
      <h1 class="text-purple-dark text-purple-semi-clean text-6xl font-light mb-10">
        Hi, I'm <span> Breiner </span> <p class="text-white font-normal">Full-Stak developer 👋🏽</p> 
      </h1>

      <p class="text-white w-4/5 mb-7 font-extralight">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora debitis non, veritatis aliquid reiciendis nemo accusamus, id deserunt fugit sapiente nulla sit, fuga quaerat? Accusamus, quidem adipisci. Perferendis, eaque nobis.</p>

      <div class="flex w-2/4 gap-3">
          <button class="bg-green w-full font-extralight text-lg p-2 rounded-4xl">Available for work</button>
        </div>
      </div>
    </div>
</section>