<section class="flex justify-center w-full" id="dashboard">
  <div class="w-4/5 h-5/6 flex flex-row-reverse items-center justify-around">
    <div>
      <img class="photo" src="https://images.rawpixel.com/image_png_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvMzk3LW1ja2luc2V5LTIxYTMwNzQtamlyLXJtNTExXzEtbDA5Y3ZjODQucG5n.png" alt="">
    </div>
    <div>
      <h1 class="text-purple-dark text-purple-semi-clean text-5xl font-light mb-10">
        Hi, I'm <span> Breiner </span><p class="text-white font-normal">Full-Stak developer <span class="hand animate-bounce">👋🏽</span></p> 
      </h1>
      
      <p class="text-white w-4/5 mb-7 font-extralight">A passionate about technology and software development, with experience building web applications using Spring Boot and Angular. Skilled in developing REST APIs, integrating SQL databases, and implementing secure authentication and authorization with JWT and OAuth2.</p>
      
      <div class="flex w-2/4 gap-3">
        <button class="bg-green w-full font-extralight text-lg p-2 rounded-4xl">Available for work</button>
      </div>
      
      <div class="text-white flex flex-col gap-2 mt-4">
          <span>breinerstivenparracortes50&#64;gmail.com</span>
        <div class="flex gap-4">
          <button class="w-7 rounded-4xl"><a target="_blank" href="mailto:breinerstivenparracortes50@gmail.com"><img class="m-auto" src="gmail.svg" alt=""></a></button>

          <button class="w-7 rounded-4xl"><a target="_blank" href="https://github.com/Brin29"><img class="m-auto" src="github.svg" alt=""></a></button>
          
          <button class="w-7 rounded-4xl"><a target="_blank" href="https://www.linkedin.com/in/breiner-stiven-parra-cort%C3%A9s-5b0518273/"><img class="m-auto" src="linkedin.svg" alt=""></a></button>
        </div>
      </div>
    </div>
  </div>
</section>